:root {

    --red: #FF754A;
    --darkred: #c64017;
    --green: #AFFC72;

    --gray1: #4A4A4A;
    --gray2: #666666;
    --gray3: #B0B0B0;
    --gray4: #D6D6D6;
    --gray5: #F5F5F5;

    --black: #1F1F1F;

}