@import url("./config.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray5);
}

#loading {
    width: 10%;
    height: 10%;
}

.spinner {
    width: 100%;
    height: 100%;
    background-image: url("../assets/spin-loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#formUpdatepasswordFrame {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#updatePasswordForm {
    width: 250px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

#password {
    width: 100%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--gray3);
}

#password:focus {
    border: 2px solid var(--gray1);
}

#sendButtom {
    width: 100%;
    height: 40px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background-color: var(--gray1);
    color: var(--gray5);
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: 20px;
}

#sendButtom:hover {
    background-color: var(--gray2);
}

#passwordBox{
    width: 100%;
    display: flex;
    gap: 5px;
}

#passIcon {
    width: 50px;
    height: 40px;
    background-color: var(--gray1);
    border-radius: 8px;
    background-image: url("../assets/reset-password.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: auto 60%;
}

#userIcon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--gray5);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow: hidden;
    border: 4px solid var(--gray3);
}

#userIconHead {
    width: 40px;
    height: 40px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    top: 20px;
}

#userIconBody {
    width: 90px;
    height: 90px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    bottom: -40px;
}