@import url("./config.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray5);
}

#loading {
    width: 10%;
    height: 10%;
}

.spinner {
    width: 100%;
    height: 100%;
    background-image: url("../assets/spin-loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 1.5s linear infinite;
}

#resetIcon {
    width: 70px;
    height: 70px;
    background-image: url("../assets/reset-password.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 15px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#formUpdatepasswordFrame {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 90%;
}

#updatePasswordForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#password, #confirmPassword {
    width: 100%;
    height: 35px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;

    background-color: white;
    color: black;

    border-radius: 7px;
    border: 2px solid var(--gray3);
    padding: 10px;
}

#confirmPassword:focus, #password:focus {
    border: 2px solid var(--gray1);
}

#sendButtom {
    width: 100%;
    height: 35px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;

    cursor: pointer;
    text-align: center;
    font-weight: bold;

    background-color: var(--gray1);
    color: var(--gray5);

    border-radius: 7px;
    text-transform: uppercase;
}

#sendButtom:hover {
    background-color: var(--gray2);
}