@import url("./config.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray5);
}

#loading {
    width: 7vh;
    height: 7vh;
}

.spinner {
    width: 100%;
    height: 100%;
    background-image: url("../assets/spin-loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#formUpdateEmailFrame {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#updateEmailForm {
    width: 250px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 5px;
}

#email {
    width: 100%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--gray3);
}

input#email.emailError {
    width: 100%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--darkred);
}

#email:focus {
    border: 2px solid var(--gray1);
}

#sendButtom {
    width: 100%;
    height: 40px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background-color: var(--gray1);
    color: var(--gray5);
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
}

#sendbtn {
        height: 100%;
        width: 100%;
        background-image: url("../assets/sendbtn.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: auto 50%;
    }

#sendButtom:hover {
    background-color: var(--gray2);
}

#pinBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#pinBox input {
    height: 3rem;
    width: 2.2rem;
    border: 2px solid var(--gray3);
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
    outline: none;
    font-weight: bold;
}

#pinBox input:focus-visible{
    border-color: var(--gray2);
}

#userIcon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--gray5);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow: hidden;
    border: 3px solid var(--gray3);
}

#userIconHead {
    width: 35px;
    height: 35px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    top: 15px;
}

#userIconBody {
    width: 80px;
    height: 80px;
    background-color: var(--gray3);
    position: absolute;
    border-radius: 100%;
    bottom: -40px;
}

#errorFrame {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.errorText {
    font-size: 12px;
    text-align: left;
    text-transform: lowercase;
    color: var(--darkred);
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray3);
    text-transform:initial;
    font-weight: bold;
}

#pinBox input.input-error {
  border: 2px solid var(--red);
}

body.success-background {
    background-color: var(--green) !important;
}

#textResponse {
    display: none;
    color: var(--black);
    font-size: 2.8vh;
    line-height: 1.5;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    font-weight: bold;
    padding: 50px;
}

#textResponse::first-letter {
    text-transform: uppercase;
}

#success-icon{
    display: none;
    width: 10vh;
    height: 10vh;
    background-image: url("../assets/success.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* >>> MOBILE <<< */
@media (max-width: 768px) {
    
    
    #updateEmailForm {
        width: 75%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: auto;
        gap: 5px;
    }

    #email {
        width: 100%;
        height: 50px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        background-color: white;
        color: black;
        padding-left: 12px;
        border-radius: 8px;
        border: 2px solid var(--gray3);
    }

    #emailerror {
    width: 100%;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    background-color: white;
    color: black;
    padding-left: 12px;
    border-radius: 8px;
    border: 2px solid var(--darkred);
}

    #sendButtom {
        width: 100%;
        height: 50px;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        background-color: var(--gray1);
        color: var(--gray5);
        border-radius: 8px;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 5px;
    }

    #passIcon {
        width: 50px;
        height: 50px;
        background-color: var(--gray1);
        border-radius: 8px;
        background-image: url("../assets/reset-email.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: auto 50%;
    }



}